* {
    background-color: lightgray;
}

#canvas {
    background-color: black;
}

#title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.instructions {
    margin-bottom: 20px;
    font-size: 18px;
}

#scoreboard {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}