body {
    background-image: url("https://cdn.hipwallpaper.com/m/71/20/OmL1gF.jpg");
    
}

header {
    background-color: black;
    color: white;
}

#canvas {
    background: black;
    border: 2px solid #15C7F4;
}

#title {
    margin-top: 10px;
    margin-bottom: 20px;
}

#btn-instructions {
    background-color: black;
    border: 1px solid #15C7F4;
    margin: 40px;
    font-size: 20px;
}

.instructions {
    margin-top: 50px;
    font-size: 18px;
}

#scoreboard {
    background-color: black;
    margin-top: 50px;
    font-size: 30px;
    color: white;
    text-align: center;
    width: 200px;
    height: 110px;
    border: 2px solid #15C7F4;
}